#SearchBox {
    border-radius: 3px;
    background-color: #fafafa;
    color: #696969;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    top: 15px;
    left: 15px;
    width: 500px;
    height: 170px; 
    overflow-y: auto;
    max-width: calc(100% - 30px);
}

#logoDiv {
    padding: 10px;
}

#SearchResetIcon {
	 cursor: pointer;
}

#suggestBoxDiv {
    padding: 10px;
}

.field-group input, .field-group textarea {
    font-family: 'Fira Sans', sans-serif !important;   
}

#SearchBoxSuggestionMenu .dropdown-menu>li>a  {
    white-space:nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.dropdown-menu  {
    max-height: calc(100vh - 12em) !important; /* Einmal im Leben gar nichts verstehen */
}
